input
  width: 100%
  height: 100%
  padding: .5rem
  outline: none

  &:focus, &:active
    outline: none

  &::placeholder
    // color: $darkGrey

  &::selection
    // color: $white
    // background: $primaryColor
// TODO: Exchange Comments