.loading-indicator
  $width: 10rem
  $height: 6rem
  position: absolute
  top: calc(50% - #{$height / 2})
  left: calc(50% - #{$width / 2})
  z-index: 1000

  width: $width
  height: $height
  // color: $primaryColor
  // background-color: $faintTransparentWhite

  display: flex
  justify-content: center
  align-items: center
